.list {
    color: black;
    width: 70%;
    height: 100%;
    margin: 25px;
    border-bottom: 1px solid black;
    overflow: auto;
}

.item {
    padding: 10px;
    font-size: large;
    font-weight: 800px;
    /* display: inline; */
    padding: 5px;
    position: relative;
    /* overflow: auto; */
}

.item p{
    font-size: small;
    /* position: absolute; */
    right: 10px;
    margin: 0 5px;
    bottom: 0;
    white-space: initial;
    word-wrap: break-word;
} 

.btndiv {
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    position: absolute;
    right: 10px;
    margin: 0 5px;
    display: inline-block;
    top: 0;
}

.btnlist {
    top: 0;
    height: 30px;
    width: 50px;
    margin: 2px;
    border-radius: 5px;
    border: 0;
    background-color: red;
    cursor: pointer;
    color: white;
}

.btnlist:hover {
    background-color: #4CAF50;
}
.btn {
    height: 50px;
    margin: 5px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: red;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: #4CAF50;
}